<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://localhost:3000/zm-cc.css">
    <link rel="stylesheet" href="http://localhost:3000/tailwind.css">
</head>
<body>
    <div id="app"></div>
    <script>
        window.modules = <%- JSON.stringify(modules) %>
    </script>
    <!-- <script src="http://119.45.234.109/static/zm-cc.js"></script> -->
    <script src="http://localhost:3000/zm-cc.js"></script>
</body>
</html>